<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VCM</title>
</head>
<body>
    <div id="root"></div>
    <script src="<%= htmlWebpackPlugin.options.oss%>/cdn/crypto.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.oss%>/cdn/browser-mycrypto.js"></script>
    <script src="<%= htmlWebpackPlugin.options.oss%>/cdn/browser-util.js"></script>
    <script src="<%= htmlWebpackPlugin.options.oss%>/cdn/aliyun-oss-sdk.min.js"></script>
</body>
</html>